.aligncenter {
  text-align: center;
  text-emphasis: initial;
}
.textcenter {
  text-align: center;
  text-emphasis: initial;
  font-size: 25px !important;
  font: bolder;
}
.modalUl > li {
  border: solid #a49797;
  padding: 3px;
  font-family: sans-serif;
  font-size: 17px;
}
