.space-between {
  display: flex;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.full-width {
  width: 100% !important;
}
.navbar-color {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(215, 215, 247, 0.6085784655659139) 47%,
    rgba(219, 219, 245, 1) 100%
  );
}
.fixed {
  position: fixed;
  width: 100%;
  z-index:1000;
}