.content {
  background-color: rgb(87, 80, 80);
  padding: 20px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(87, 80, 80);
}
.content .h1 {
  color: rgb(197, 197, 197);
  font-size: 50px;
}
.strong {
  font-size: 30px;
  color: rgb(214, 218, 214);
}
.red {
  color: rgb(250, 0, 0);
}
