body {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(215, 215, 247, 0.6085784655659139) 47%,
    rgba(219, 219, 245, 1) 100%
  );
}
.content {
  padding: 20px;
}
.flex {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: rgb(149, 52, 52);
  background: radial-gradient(
    circle,
    rgba(149, 52, 52, 1) 0%,
    rgba(9, 9, 37, 0.6085784655659139) 47%,
    rgba(51, 51, 57, 1) 100%
  );
}
.content .h1 {
  color: rgb(197, 197, 197);
  font-size: 50px;
}
.strong {
  font-size: 30px;
  color: rgb(214, 218, 214);
}
.red {
  color: rgb(250, 0, 0);
}
.mt60 {
  margin-top: 80px;
}
body::-webkit-scrollbar {
  width: 0.1px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(199, 67, 67);
  outline: rgb(199, 67, 67);
}
