.content {
  padding: 20px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: rgb(149, 52, 52);
  background: radial-gradient(
    circle,
    rgba(149, 52, 52, 1) 0%,
    rgba(9, 9, 37, 0.6085784655659139) 47%,
    rgba(51, 51, 57, 1) 100%
  );
}
.content .h1 {
  color: rgb(197, 197, 197);
  font-size: 50px;
}
.strong {
  font-size: 30px;
  color: rgb(214, 218, 214);
}
.red {
  color: rgb(250, 0, 0);
}
